<h2 class="cartTitle">Lista de Productos del carrito</h2>
<div class="listContainerCart">
     <div id="cart" data-cid="{{ cid }}" style="display: none;"></div>
    <article class="productDetailsCart"> 
            
     </article>
    
      <h3 class="subTitleCart">Productos sin Stock Suficiente</h3>
     
      <div id="notStockContainer"class="notStockContainer">
        
         <article class="listContainerCart">      
              
         </article>
      </div>
    
</div>

<script src="/js/cart.js"></script>