<article class="loginContainer" >
    <form action="/api/users/{{uid}}/documents" method="post" enctype="multipart/form-data" class="multerForm">
        <input type="file" name="profile" class="uploadInputs" placeholder="profile"><p>profile</p>
        <input type="file" name="profile" class="uploadInputs" placeholder="profile"><p>profile</p>
        <input type="file" name="profile" class="uploadInputs" placeholder="profile"><p>profile</p>
        <input type="file" name="documents" class="uploadInputs" placeholder="documents"><p>documents</p>
        <input type="file" name="documents" class="uploadInputs" placeholder="documents"><p>documents</p>
        <input type="file" name="products" class="uploadInputs" placeholder="products"><p>products</p>
        <input type="submit" class="uploadInputs">
    </form>
</article>