<article class="loginContainer" >
    <form action="/api/users/{{uid}}/documents" method="post" enctype="multipart/form-data" class="multerForm">
        <label for="profile">profile</label>
          <input type="file" name="profile" class="uploadInputs" placeholder="profile">
        <label for="profile">profile</label>
          <input type="file" name="profile" class="uploadInputs" placeholder="profile">
        <label for="profile">profile</label>
          <input type="file" name="profile" class="uploadInputs" placeholder="profile">
          
          <input type="file" name="documents" class="uploadInputs" placeholder="documents"><p>documents</p>
          <input type="file" name="documents" class="uploadInputs" placeholder="documents"><p>documents</p>
          <input type="file" name="documents" class="uploadInputs" placeholder="documents"><p>documents</p>
          <input type="file" name="products" class="uploadInputs" placeholder="products"><p>products</p>
          <input type="submit" class="uploadInputs">
    </form>
</article>