<article class="loginContainer">
<form id="formLogin" action="/api/sessions/login" method="post" class="loginForm">
<header>
    <h1 class="loginTitle">Inicio de Sesion</h1>
</header>
<input id="emailInp" type="email" name="email" placeholder="correo" class="inputs" required>
<input id="passwordInp" type="password" name="password" placeholder="pass" class="inputs" required>
<footer>
    <input type="submit" value="Entrar" class="submitButton">
</footer>
<a href="/api/sessions/github" role="button"> Entrar con GitHub</a>
<a href="/register">Registrate</a>
<a href="/recovery-link">Restablecer Contraseña</a>
</form>


</article>
<script src="/js/login.js"></script>
