<article>
<form action="/api/sessions/login" method="post">
<header>
    <h1>Inicio de Sesion</h1>
</header>
<input type="email" name="email" placeholder="correo" required>
<input type="password" name="password" placeholder="pass" required>
<footer>
    <input type="submit" value="Entrar">
</footer>
<a href="/api/register">Registrate</a>
</form>


</article>