<article>
<form id="formLogin" action="/api/sessions/login" method="post">
<header>
    <h1>Inicio de Sesion</h1>
</header>
<input id="emailInp" type="email" name="email" placeholder="correo" required>
<input id="passwordInp" type="password" name="password" placeholder="pass" required>
<footer>
    <input type="submit" value="Entrar">
</footer>
<a href="/api/sessions/github" role="button"> Entrar con GitHub</a>
<a href="/api/register">Registrate</a>
</form>


</article>

