
<div class="welcome">
    <h1>Bienvenido <span id="firstName"></span> <span id="lastName"></span></h1>
        <div>
            <h1>Lista de Productos</h1>
        </div>
    <div>
        <a href="#" id="cartLink">
            <img src="/images/cart.png" alt="carrito" class="cart" width="80px" height="80px">
        </a>
    </div>
 
    <button id="logoutButton" class="logoutButton">Logout</button>
</div>
<div class="listContainer"></div>
<div class="productController">
    <a href="#" id="prevLink"> Anterior </a>
    <p>Paginas: <span id="totalPages"></span></p>
    <p>Pagina Actual: <span id="currentPage"></span></p>
    <a href="#" id="nextLink"> Siguiente </a>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/js/products.js" ></script>