<h1>Lista de Productos del carrito</h1>
 <div id="cart" data-cid="{{ cid }}" style="display: none;"></div>
<div class="listContainerCart">
    
      <div class="productContainerCart">
        
         <article class="productDetailsCart">

            <header class="productTitle">
             
         </article>
      </div>
 
   
   
      <h3 class="subTitle">Compras Pendientes</h3>
 
      <div class="notStockContainer">
        
         <article class="productDetailsCart">
              
         </article>
      </div>

    
      <h3 class="subTitle">Te Notificaremos cuando este disponible!</h3>

      <a href="/productsdb" >Lista de Productos</a>
</div>
<script src="/js/purchase.js"></script>